
.example-spacer {
    flex: 1 1 auto;
  }

  .example-icon {
    padding: 0 14px;
  }

  @media (min-width:900px)  {
    .non-mobile{
      display:block !important;
    }
    .mobile {
      display: none !important;
    }
  }

  @media (max-width:900px)  {
    .non-mobile{
      display:none !important;
    }
    .mobile {
      display: block !important;
    }
  }