<mat-toolbar>
  <img style="height: 40%; margin-right: 10px;" src="../assets/Ethereum_logo.svg" alt="Ethereum Logo" aria-label="Ethereum Logo">
  <h1 class="mat-display-1">
    <span>Ethereum Transaction Visualiser</span>
  </h1>
  <mat-form-field style="width:30%;margin-left: 20px; color: #777;">
      <mat-label>Enter a comma-separated list of Ethereum transaction hashes</mat-label>
    <textarea matInput matTextareaAutosize matAutosizeMinRows=2 matAutosizeMaxRows=2 #userInput [(ngModel)]="userHashes" (ngModelChange)="userInputUpdated($event)"
      [formControl]="control" [errorStateMatcher]="matcher" placeholder=""></textarea>
    <mat-error >Could not parse these as transaction hashes.</mat-error>
  </mat-form-field>
  <span class="example-spacer"></span>
  <!-- Place this tag where you want the button to render. -->
  <a class="github-button" href="https://github.com/oisinkyne" aria-label="Follow @oisinkyne on GitHub">Follow @oisinkyne</a>

</mat-toolbar>



<div *ngIf="graph.nodes.length!==0">
  <graph-component [graph]="graph"></graph-component>
</div>