<mat-toolbar >

    <span>Ethereum Transaction Visualiser</span>
    <mat-form-field style="width:30%;margin-left: 8px;">
      <textarea matInput 
      matTextareaAutosize matAutosizeMinRows=2 matAutosizeMaxRows=2
      #userInput [(ngModel)]="userHashes" (ngModelChange)="userInputUpdated($event)" placeholder="Enter a CSV list of Transaction Hashes"></textarea>
    </mat-form-field>
    <span class="example-spacer"></span>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/oisinkyne" aria-label="Follow @oisinkyne on GitHub">Follow @oisinkyne</a>

</mat-toolbar>


<div *ngIf="graph.nodes.length!==0">
  <graph-component [graph]="graph"></graph-component>
</div>
<div *ngIf="graph.nodes.length===0">Waiting for hashes</div>